<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767907767238-gh674766ovr2ef0v9kq1e84v95svhoat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767907767238-gh674766ovr2ef0v9kq1e84v95svhoat</string>
	<key>API_KEY</key>
	<string>AIzaSyByh3QP3R0zd_56nKcemfd3TfronrjMefg</string>
	<key>GCM_SENDER_ID</key>
	<string>767907767238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akuCommunity.akuCommunity</string>
	<key>PROJECT_ID</key>
	<string>akucommunity-46aa5</string>
	<key>STORAGE_BUCKET</key>
	<string>akucommunity-46aa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767907767238:ios:641dcf075dea10b39cc8c7</string>
</dict>
</plist>